// -----------------------------------------------------------------------------
// This file contains all styles related to the button component of the site
// -----------------------------------------------------------------------------
.btn,
button {
  outline: none;
  display: inline-block;
  vertical-align: middle;
}