// -----------------------------------------------------------------------------
// This file contains all styles related to the menu component of the site
// -----------------------------------------------------------------------------

.logo {
  width: rem(40px);
  
  @include media(">=tablet") {
    width: rem(50px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: rem(80px);
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary;
  padding: rem(10px);
  margin-bottom: rem(10px);
  border-radius: rem(10px);
  position: relative;
  top: 0;
  left: 0;
  
  @include media(">=tablet") {
    display: block;
    margin-left: rem(5px);
    margin-right: rem(5px);
    margin-bottom: 0;
    width: rem(100px);
    padding: rem(20px);
  }

  nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.menu-list {
  @include list-reset;

  &__elem {
    @include transition(background-color);
    color: $secondary;
    font-weight: $font-weight-normal;
    padding-top: rem(10px);
    padding-bottom: rem(10px);
    margin-bottom: rem(10px);
    text-align: center;
    font-size: rem(12px);
    border-radius: rem(10px);
    width: rem(60.5px);
    cursor: pointer;

    &:hover {
      color: $active-link;
      background-color: rgba($yellow-01, 0.3);

      a {
        color: $secondary;
      }
    }

    &.active {
      background-color: rgba($yellow-01, 0.3);
    }
  }

  &__elem-icon {
    font-size: rem(20px);
  
    &.icon-settings,
    &.icon-location {
      font-size: rem(17px);
    }
  }
}
