// -----------------------------------------------------------------------------
// This file contains all styles related to the search component of the site
// -----------------------------------------------------------------------------

input[type="search"] {
  outline: none;
  border: 0;
  background-color: $primary;
  padding: rem(10px) rem(16px);
  border-radius: rem(10px);
  font-size: rem(16px);
  color: $secondary;
  width: 100%;
  line-height: 1.6;
  margin-bottom: rem(40px);
  
  @include media(">=desktop") {
    margin-bottom: rem(80px);
  }

  &::placeholder {
    color: rgba($secondary, 0.6);
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.search-block {
  display: inline-block;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  
  @include media(">=desktop") {
    width: 70%;
  }
}

.search-block__list {
  @include list-reset;
  border-radius: rem(10px);
  overflow: hidden;
  position: absolute;
  top: rem(56px);
  left: 0;
  right: 0;
  background-color: rgba($primary, 0.4);
  backdrop-filter: blur(15px);

  li {
    @include transition(background-color);
    padding: rem(10px) rem(14px);
    color: $secondary;
    cursor: pointer;

    &:hover {
      background-color: rgba($primary, 0.6);
    }
  }
}
