// -----------------------------------------------------------------------------
// This file contains all styles related to the sections component of the site
// -----------------------------------------------------------------------------
.main {
  background-color: $grey-01;
  padding: rem(20px) rem(10px);
  border-radius: rem(10px);
  min-height: calc(100vh - rem(20px));
  
  @include media(">=tablet") {
    width: calc(100% - rem(100px));
    margin-left: rem(5px);
    margin-right: rem(5px);
    padding: rem(20px);
    position: relative;
    top: auto;
    left: auto;
    overflow: hidden;
  }
}


section {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: none;
  
  @include media(">=tablet") {
    position: absolute;
    top: 0;
    left: 0;
    padding: rem(20px);
  }
}

section.visible {
  display: block;
}