// -----------------------------------------------------------------------------
// This file contains all styles related to the sections component of the site
// -----------------------------------------------------------------------------
.main {
  width: calc(100% - rem(100px));
  background-color: $grey-01;
  padding: rem(20px);
  margin-left: rem(5px);
  margin-right: rem(5px);
  border-radius: rem(10px);
  position: relative;
  top: auto;
  left: auto;
  overflow: hidden;
}


section {
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: opacity 0.1s ease, transform 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  padding: rem(20px);
  width: 100%;
}

section.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}