// -----------------------------------------------------------------------------
// This file contains all styles related to the variables of the site
// -----------------------------------------------------------------------------

// Colors
$grey-01: #ebe9e1;
$yellow-01: #efb11d;
$red-01: #e43d12;
$pink-01: #ffa2b6;

$black: #000;
$white: #fff;

// Primary colors
$primary: $red-01;
$secondary: $white;

// HTML bg color
$body-bg: $secondary;
$body-color: $primary;

// Fonts
$font-family-primary: 'Poppins', serif;
$base-font-path: '../assets/fonts';
$base-font-size: 16px;
$rem-base: 16px;

// Fonts weight
$font-weight-thin: 100;
$font-weight-ulight: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-heavy: 800;
$font-weight-black: 900;

// Link reset
$link-color: $secondary;
$link-decoration: none;
$active-link: $pink-01;

// Border radius
$rounded-circle: 50%;

// Transition
$animation-speed: 0.3s;
$transition-duration-base: ease;
