<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <!-- favicon -->
  <link rel="icon" href="../assets/images/favicon-16x16.svg" sizes="16x16" type="image/svg">
  <link rel="icon" href="../assets/images/favicon-32x32.svg" sizes="32x32" type="image/svg">
  <link rel="icon" href="../assets/images/favicon-96x96.svg" sizes="96x96" type="image/svg">
  <link rel="icon" href="../assets/images/favicon-180x180.svg" sizes="180x180" type="image/svg">
  <link rel="apple-touch-icon" href="../assets/images/apple-touch-icon.png">
  <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
  <!-- project title -->
  <title>Atmos - Your Weather Solution</title>
</head>

<body>
  <div class="wrapper">
    <div class="page-holder">
      <aside class="menu">
        <div class="logo">
          <a href="index.html">
            <img src="../assets/images/logo.svg" alt="Atmos - logo">
          </a>
        </div>
        <nav>
          <ul class="menu-list">
            <li class="menu-list__elem" data-page="weather">
              <a href="#weather">
                <span class="menu-list__elem-icon icon-cloud"></span>
                weather
              </a>
            </li>
            <li class="menu-list__elem" data-page="location">
              <a href="#location">
                <span class="menu-list__elem-icon icon-location"></span>
                location
              </a>
            </li>
            <li class="menu-list__elem" data-page="settings">
              <a href="#settings">
                <span class="menu-list__elem-icon icon-settings"></span>
                settings
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    
      <main class="main">
        <div class="loader">
          <div class="loader__spinner"></div>
        </div>
        <section id="weather" class="weather-section">
          <div class="serch-block">
            <input class="search-block__input" type="search" id="search-field" placeholder="Search for a location" />
            <ul class="search-block__list" id="search-results"></ul>
          </div>
          <div class="weather" id="weather-info"></div>
        </section>
        <section id="location" class="location-section">
          <div class="container">
            location
          </div>
        </section>
        <section id="settings" class="settings-section">
          <div class="container">
            settings
          </div>
        </section>
      </main>
    </div>
  </div>
</body>

</html>
