// -----------------------------------------------------------------------------
// This file contains all styles related to the typography of the site
// -----------------------------------------------------------------------------

html {
  font-size: $rem-base;
}

body {
  color: $black;
  font-weight: $font-weight-normal;
}

a {
  @include transition(color);
  color: $link-color;
  text-decoration: $link-decoration;

  &:hover {
    color: $active-link;
  }
}

ul,
ol,
dl,
p {
  margin: 0;
}
