// -----------------------------------------------------------------------------
// This file contains all styles related to the typography of the site
// -----------------------------------------------------------------------------

html {
  font-size: $rem-base;
}

body {
  color: $black;
  font-weight: $font-weight-normal;
}

a {
  @include transition(color);
  color: $link-color;
  text-decoration: $link-decoration;

  &:hover {
    color: $active-link;
  }
}

ul,
ol,
dl,
p {
  margin: 0;
}

h1,
.h1 {
  font-size: rem(30px);
  font-weight: $font-weight-bold;
  line-height: 1.2;
  margin: 0 0 rem(20px);
  padding: 0;

  @include media(">=tablet") {
    font-size: rem(40px);
  }

  @include media(">=desktop") {
    font-size: rem(45px);
  }
}

h2,
.h2 {
  font-size: rem(26px);
  font-weight: $font-weight-bold;
  line-height: 1.2;
  margin: 0 0 rem(20px);
  padding: 0;

  @include media(">=tablet") {
    font-size: rem(36px);
  }

  @include media(">=desktop") {
    font-size: rem(38px);
  }
}

h3,
.h3 {
  font-size: rem(22px);
  font-weight: $font-weight-semibold;
  line-height: 1.2;
  margin: 0 0 rem(20px);
  padding: 0;

  @include media(">=tablet") {
    font-size: rem(32px);
  }

  @include media(">=desktop") {
    font-size: rem(34px);
  }
}

h4,
.h4 {
  font-size: rem(18px);
  font-weight: $font-weight-bold;
  line-height: 1.2;
  margin: 0 0 rem(20px);
  padding: 0;
  text-transform: uppercase;
  color: $yellow-01;

  @include media(">=tablet") {
    font-size: rem(24px);
  }

  @include media(">=desktop") {
    font-size: rem(14px);
  }
}